
 <div class="content-area" [ngClass]="themeClasses">
    <div [ngClass]="cardContainerClasses">
        <div *ngFor="let entry of wikidata">
            <div class="card">
                <div class="card-title">
                    <a href="{{link(entry)}}">{{entry.title}}</a>
                </div>
                <hr>
                <div class="card-image">
                    <img src="{{entry.source}}" />
                </div>
                <div class="card-block">
                    <div class="card-text">
                        {{entry.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <nav class="sidenav" [clr-nav-level]="1">
     <app-control-panel (change)="changeCardStyle($event)" (switchTheme)="switchTheme($event)"></app-control-panel>
 </nav>