$card_background_color: royalblue;
$card_divider_color: tomato;
.card {
    background-color: $card_background_color;
    color: white;
    max-width: 400px;
    a{
      color:white;
    }
    .card-title {
        padding-left: 5px;
        font-size: 1.6em;
        padding-top: 10px
    }
    hr:first-of-type {
        width: 96%;
        border-style: solid;
        border-width: 1px;
        border-color: $card_divider_color;
    }
    .card-image{
      display:flex;
      justify-content: center;
    }
}

.card-columns {
    display: flex;
    width: 100%;
    height: 80vh;
    &.top-left {
        justify-content: flex-start;
    }
    &.top-right {
        justify-content: flex-end;
    }
    &.vertical-align {
        justify-content: center;
        align-items: center;
    }
    &.vertical-align-even-space {
        justify-content: space-between;
        align-items: center;
    }
    &.drape {
        flex-direction: column;
    }
    &.norm-reverse {
        flex-direction: row-reverse;
    }
    &.top-right-reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    &.bottom-left {
        align-items: flex-end;
    }
    &.bottom-right {
        justify-content: flex-end;
        align-items: flex-end;
    }
}