@import '../../styles.scss';

$card-background: $neutral-card-background;
$content-area-background: $neutral-content-area-background;
$card-text-color: $neutral-card-text;
$card-header-color: $neutral-card-header-text;

.neutral {
    .card {
        color: $card-text-color;
        background-color: $card-background;
        a{
            color:$card-header-color;
        }
    }
    .content-area {
        background-color: $content-area-background;
    }
}


.card {
    .card-title {
        padding-left: 5px;
        font-size: 1.6em;
        padding-top: 10px
    }
    .card-image{
      display:flex;
      justify-content: center;
      img {
        object-fit: contain;
        max-width: 100%;
      }
      
    }
}

@mixin custom-flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin card-width {
    .card {
        width: 24vw;
        height: 30vh;
        overflow: hidden;
    }
}

.card-columns {
    &.top-left {
        @include custom-flex;
        justify-content: flex-start;
        @include card-width;
    }
    &.top-right {
        @include custom-flex;
        justify-content: flex-end;
        @include card-width;
    }
    &.vertical-align {
        @include custom-flex;
        justify-content: center;
        align-items: center;
        @include card-width;
    }
    &.vertical-align-even-space {
        @include custom-flex;
        justify-content: space-between;
        align-items: center;
        @include card-width;
    }
    &.drape {
        @include custom-flex;
        flex-direction: column;
        @include card-width;
    }
    &.norm-reverse {
        @include custom-flex;
        flex-direction: row-reverse;
        @include card-width;
    }
    &.top-right-reverse {
        @include custom-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        @include card-width;
    }
    &.bottom-left {
        @include custom-flex;
        align-items: flex-end;
        @include card-width;
    }
    &.bottom-right {
        @include custom-flex;
        justify-content: flex-end;
        align-items: flex-end;
        @include card-width;
    }
}