
 <div class="content-area">
    <div [class]="card_control">
        <div *ngFor="let entry of wikidata">
            <div class="card">
                <div class="card-title">
                    <a href="{{link(entry)}}">{{entry.title}}</a>
                </div>
                <hr>
                <div class="card-image">
                    <img src="{{entry.thumb}}" />
                </div>
                <div class="card-block">
                    <div class="card-text">
                        {{entry.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <nav class="sidenav">
     <app-control-panel (change)="helloWorld($event)"></app-control-panel>
 </nav>