@import '../styles.scss';

@mixin appStyles($theme) {
    .main-container.#{$theme} {
        color: get-theme-prop($theme, body-text);
        .header.header-4 {
            .title {
                font-size: 24px;
            }
            background-color: get-theme-prop($theme, header-background);
        }
    }
}

@each $theme in map-keys($themes) {
    @include appStyles($theme);
}