@import '../styles.scss';


@mixin appStyles($theme) {
    .main-container.#{$theme} {
        color: get-theme-prop($theme, body-text);
        .header.header-4 {
            .title {
                font-size: 24px;
            }
            flex-basis: get-theme-prop($theme, header-height);
            background-color: get-theme-prop($theme, header-background-color);
            $gradient: get-theme-prop($theme, header-background-gradient);
            @debug $gradient;
            @if $gradient != none {
                background: $gradient;
            }
        }
    }
}

@each $theme in map-keys($themes) {
    @include appStyles($theme);
}