<section class="sidenav-content">
    <section class="nav-group collapsable">
        <input id="sass-demo" type="checkbox">
        <label for="sass-demo">Sass</label>
        <ul class="nav-list">
            <li>
                <a class="nav-link active" (click)="toggle($event);emitThemeSwitch('')">Clarity default colors</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitThemeSwitch('neutral')">Neutral palette</a>
            </li>
        </ul>
    </section>
    <section class="nav-group collapsable">
        <input id="flexbox-demo" type="checkbox">
        <label for="flexbox-demo">Flexbox</label>
        <ul class="nav-list">
            <li>
                <a class="nav-link active" (click)="toggle($event);emitTest('')">Clairty default</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('top-left')">top-left</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('top-right')">top-right</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('bottom-left')">bottom-left</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('bottom-right')">bottom-right</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('norm-reverse')">row reverse</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('top-right-reverse')">flex-end row reverse</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('drape')">drape</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('vertical-align')">vertical align</a>
            </li>
            <li>
                <a class="nav-link" (click)="toggle($event);emitTest('vertical-align-even-space')">vertical align even spacing</a>
            </li>
        </ul>
    </section>
</section>