<div style="width:100%; height:20vh;">

    <button (click)="toggle($event);emitTest('top-left')" class="btn btn-primary">top-left</button>
    <button (click)="toggle($event);emitTest('top-right')" class="btn btn-primary">top-right</button>
    <button (click)="toggle($event);emitTest('bottom-left')" class="btn btn-primary">bottom-left</button>
    <button (click)="toggle($event);emitTest('bottom-right')" class="btn btn-primary">bottom-right</button>

    <button (click)="toggle($event);emitTest('norm-reverse')" class="btn btn-primary">row reverse</button>
    <button (click)="toggle($event);emitTest('top-right-reverse')" class="btn btn-primary">reverse row reverse</button>
    <button (click)="toggle($event);emitTest('drape')" class="btn btn-primary">drape</button>
</div>