$themes: (
    'neutral': (
        header-background: #747474,
        card-background: #fff,
        nav-link-background: #CCCCCC,
        nav-link-hover-background: #EEEEEE,
        content-area-background: #FAFAFA,
        card-header-text: #313131,
        body-text: #313131
    ),

    'warm': (
        header-background: #CD3517,
        card-background: #fff,
        nav-link-background: #FF8142,
        nav-link-hover-background: #FFCCB5,
        content-area-background: #efefef,
        card-header-text: #CD3517,
        body-text: #495A67
    )
);

@function get-theme-prop($theme, $prop) {
    $theme: map-get($themes, $theme);
    @return map-get($theme, $prop);
}