$neutral-header-background: #ccc;
$neutral-card-background: #fff;
$neutral-card-text: #999;
$neutral-nav-link-background: #bbb;
$neutral-content-area-background: #efefef;
$neutral-card-header-text: #0c0c0c;